apiVersion: healing.kaf.io/v1
kind: SelfHealingPolicy
metadata:
  name: test-healing
spec:
  target:
    matchLabels:
      app: demo
  checkInterval: "10s"
  triggers:
    - name: "always-fire-test"
      query: 'sum(container_memory_usage_bytes{pod=~"demo-.*", namespace="default"}) by (pod)'
      operator: ">"
      threshold: "0"
  pipeline:
    - name: "kill-pod"
      action: "DeletePod"
  cooldownPeriod: "1m"